/* ハンバーガーメニューを「三」と表現しています。 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;

  background-color: #f7f3ee;
}

/* 共通CSS */
.container {
  margin-bottom: 80px;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* h2 */
.heading {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #4b3832;

  margin-bottom: 15px;
}

/* header */
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;

  background-color: #4b3832;
  margin-bottom: 20px;
}

/* logo */
.logo {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;

  gap: 4px;
}

.logo img {
  width: 50px;
}

.logo a {
  padding-left: 14px;
  color: white;
  text-decoration: none;
}

/* title-name */
.title-name {
  font-size: 24px;
  font-weight: bold;
  color: burlywood;
  text-align: center;

  padding-top: 2px;
}

/* hamburger */
.hamburgermenu {
  display: flex;
  flex-direction: column; /* 三とnavを縦並び */
  align-items: flex-end; /* 右寄せ */
  margin-top: 10px;

  position: relative; /* active時のメニュー */
}

.hamburger {
  width: 40px;
  height: 40px;

  background: none;
  border: none;
  cursor: pointer;

  position: relative;

  margin-top: 16px;

  color: white;
}

.hamburger span {
  position: absolute;

  left: 0;
  width: 100%;
  height: 5px;
  background: white; /* 三の色 */
  transition: 0.3s;
}

/* 通常時 */
.hamburger span:nth-child(1) {
  top: 8px;
}

.hamburger span:nth-child(2) {
  top: 18px;
}

.hamburger span:nth-child(3) {
  top: 28px;
}

/* active時 */
.hamburger.active span:nth-child(1) {
  top: 18px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 18px;
  transform: rotate(-45deg);
}

/* nav */
.nav {
  position: absolute;
  display: none;
  width: 200px;
  margin-top: 50px;
  right: 0;

  text-align: center;

  background: black;
}

.nav-list {
  list-style: none;
}

.nav.active {
  display: block;
}

/* カーソルがリスト内にある時 */
.nav-list li:hover {
  cursor: pointer;
  background-color: #444;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

/* hero */
/* 矢印とスライダーを横並び */
.allslider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 80%;
  max-width: 600px;
  height: 300px;

  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.5s;
}

.slide.active {
  opacity: 1;
}

/* 縦横の比率を維持したまま画像の全体を表示 */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.buttons {
  margin: 0 10px 0 10px;
}

.buttons button {
  /* ボタンは正方形にするときれいに見える */
  width: 100%;
  height: 100%;

  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* menu */
#menu {
  width: 100%;
  height: 350px;
}

.menu-tab {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tab-btn {
  width: 120px;
  padding: 10px 20px;

  font-size: 20px;

  border: none;
  border-radius: 5px;

  text-align: center;
  cursor: pointer;
  background: #e5d3c0;
}

.tab-btn.active {
  background: #c08b5c;
  color: white;
}

.menu-list {
  list-style: none;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.content {
  width: 100%;
  height: 163px;
  margin-top: 20px;
  padding: 20px;

  display: none;
}

.content.active {
  display: block;
}

/* gallery */
.gallery-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;

  cursor: pointer;
  transition: 0.3s;
}

/* カーソル合わせると少し白くなる */
.gallery-img:hover {
  opacity: 0.8;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);

  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-img {
  width: 80%;
  max-width: 800px;
  max-height: 800vh;
  object-fit: contain; /* 表示エリアいっぱいに画像を表示する際に足りない部分を余白にする */
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;

  background: none;
  border: none;
  color: white;

  cursor: pointer;
}

/* about */
#about h3 {
  text-align: center;
  align-items: center;

  margin-bottom: 60px;
}

.introduction-item,
.introduction-item-reverse {
  max-width: 100%;
  display: flex;

  padding-bottom: 60px;
}

.introduction-item {
  flex-direction: row-reverse; /* 逆に横並び配置 */
  justify-content: space-between;
  align-items: center;
}

.introduction-item-reverse {
  justify-content: space-between;
  align-items: center;
}

.introduction-item img,
.introduction-item-reverse img {
  border-radius: 12px;

  width: 40%;
  object-fit: contain; /* 画像全体表示 */
}

.introduction-item img {
  margin-left: 30px;
}

.introduction-item-reverse img {
  margin-right: 30px;
}

.introduction-img {
  opacity: 0;
  transform: translateY(50px);
  transition: 1.5s;
}

.introduction-text {
  width: 60%;
  text-align: center;

  font-size: 18px;
  font-weight: 500;

  opacity: 0;
  transform: translateY(50px);
  transition: 1.5s;
}

/* active時 */
.introduction-text.active {
  opacity: 1;
  transform: translateY(0);
}

.introduction-img.active {
  opacity: 1;
  transform: translateY(0);
}

/* contact */
.contact-form {
  width: 90%;
  max-height: 500px;

  display: block;
  flex-direction: column;

  margin: 0 auto;
}

.contact-form label {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
}
.contact-form input {
  margin-bottom: 20px;
}

.name,
.email {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
.contact-form textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
}

.submit {
  width: 120px;
  height: 40px;
  display: block;
  margin: 20px auto 0;
}

/* デフォルトは非表示 */
.error-name,
.error-email {
  opacity: 0;
  display: none;
}

/* active時表示 */
.error-name.active,
.error-email.active {
  opacity: 1;
  color: red;
  display: block;
}

/* pageTop */
.page-top {
  position: fixed;

  right: 30px;
  bottom: 30px;

  width: 70px;
  height: 70px;

  border: none;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1;
}

.page-top svg {
  width: 35px;
  height: 35px;
}

.arrow {
  fill: white;
}

.page-top.active {
  opacity: 1;
  visibility: visible;
}

.page-top:hover {
  transform: translateY(-5px);
  background: black;
}

/* footer */
footer {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 10px 0 10px 0;
  color: white;
  background: #4b3832;
}

/* PC用 */
@media screen and (min-width: 768px) {
  /* hero */
  .hero h1 {
    font-size: 32px;
  }

  /* gallery*/
  .gallery-list {
    grid-template-columns: repeat(5, 1fr);
  }

  /* about */
  .introduction-item {
    flex-direction: row-reverse;
  }

  .introduction-item-reverse {
    flex-direction: row;
  }
}
